@tailwind base;

body {
  margin: 0;
}

#tooltip {
  @apply bg-black bg-opacity-50 p-2 px-3 font-bold text-white text-center text-sm absolute hidden 
}

#container {
  position: absolute;
  left: 50vw;
  top: 50vh;
  z-index: 1;
  font-family: Arial, sans-serif;
}

#navigate-button {
  position: relative;
  left: -90svh;
  top: -45svh;
  width: 50vsh;
  height: 50vsh;
  background-color: #44444450;
  color: white;
  font-size: 5.5vmin;
  line-height: 50vmin;
  cursor: pointer;
}

#piso-atual {
  color: black;
  font-weight: bold;
}

#current-floor {
  position: relative;
  left: -75svh;
  top: -54svh;
  width: 50vsh;
  height: 50vsh;
  background-color: #06060654;
  color: white;
  font-size: 5.5vmin;
  line-height: 10vmin;
  cursor: default;
}

#views-panel {
  position: absolute;
  left: -50vmin;
  top: -49vh;
  width: 100vmin;
  font-size: 1.5vmin;
  color: white;
}

select {
  background: #000;
}
input {
  background: #000;
  text-align: center;
}

#maps-panel {
  position: absolute;
  right: -15vmin;
  top: -3vh;
  width: 100vmin;
  font-size: 1.5vmin;
  color: white;
  font-size: 32px;
  display: none;
}

#mouse-help-panel {
  display: none;
  position: absolute;
  left: -50vmin;
  top: -8vmin;
  width: 100vmin;
  font-size: 1.3vmin;
  color: white;
}

#keyboard-help-panel {
  display: none;
  position: absolute;
  left: -50vmin;
  top: -35.75vmin;
  width: 100vmin;
  font-size: 1.3vmin;
  color: white;
}

#credits-panel {
  display: none;
  position: absolute;
  left: -50vmin;
  top: -8vmin;
  width: 100vmin;
  font-size: 1.3vmin;
  color: white;
}

#subwindows-panel {
  position: fixed;
  left: 10px;
  bottom: 10px;
  font-size: 1.5vmin;
  color: white;
}

table {
  margin: auto;
  border: 1px solid black;
}

table.views {
  text-align: right;
  background-color: #44444470;
}

table.mouse-help {
  text-align: center;
  width: 50vmin;
  background-color: #44444450;
}

table.keyboard-help {
  width: 50vmin;
  background-color: #44444450;
}

table.credits {
  width: 50vmin;
  background-color: #44444450;
}

table.subwindows {
  text-align: right;
  background-color: #44444470;
}

th,
td {
  overflow: hidden;
  border: 1px solid black;
}

a {
  color: white;
}

#view,
#projection {
  width: 18ch;
  font-size: 1.5vmin;
}

#horizontal,
#vertical,
#distance,
#zoom {
  width: 10ch;
  font-size: 1.5vmin;
}

#reset,
#reset-all {
  width: 16ch;
  font-size: 1.5vmin;
}

input:invalid {
  background-color: pink;
}

.checkbox-red {
  accent-color: red;
}

canvas {
  display: block;
}

.transition-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 6s ease-in-out;
  background-color: white;
  z-index: 9999;
}
