@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,500;1,800&family=Poppins:wght@100;200;300;400;600;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #000000;
    --background: #e5fcff;
    --primary: #284b62;
    --secondary: #d0e7f6;
    --accent: #278ed3;
    --primary-700: #0a1e2c;
    --primary-500: #1a303e;
  }

  body {
    font-family: "Archivo", sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Poppins", sans-serif;
  }
}
